<launch>
        <arg name="target_color" default="" />
        <include file="$(find jetarm_bringup)/launch/base.launch"/>
 
        <node name="vc_track_and_grab" pkg="jetarm_6dof_rgbd_cam" type="vc_track_and_grab.py" output="screen" respawn="true">
        	<param name="target_color" value="$(arg target_color)" />
        </node>
</launch>
