<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="$(env ROBOT_NAME)" />
    <arg name="robot_dof" default="6" />
    <arg name="camera_type" default="$(optenv CAMERA_TYPE GEMINI)"/>
    <arg name="mic_type"   value="$(env MIC_TYPE)" />
    <!-- 根据使用的相机设置相应参数(set corresponding parameters based on the used camera) -->
    <arg name="source_image_topic" if="$(eval camera_type=='GEMINI')" default="/rgbd_cam/color/image_rect_color" />
    <arg name="camera_info_topic" if="$(eval camera_type=='GEMINI')" default="/rgbd_cam/color/camera_info" />
    <arg name="source_image_topic" if="$(eval camera_type=='USB_CAM')" default="/usb_cam/image_rect_color" />
    <arg name="camera_info_topic" if="$(eval camera_type=='USB_CAM')" default="/usb_cam/camera_info" />


    <include file="$(find jetarm_6dof_rgbd_cam)/launch/vc_shape_recognition_down.launch">
    </include>
    <group if="$(eval mic_type == 'xf')">
        <include file="$(find xf_mic_asr_offline)/launch/mic_init.launch" />
    </group>
    <group unless="$(eval mic_type == 'xf')">
        <include file="$(find xf_mic_asr_offline)/launch/wonderechopro_init.launch" />
    </group>

    <node pkg="xf_mic_asr_offline" type="voice_control_shape_recognition.py" name="voice_control_shape_recognition_node" output="screen"/>
</launch>
