<launch>
        <arg name="source_image_topic" default="/rgbd_cam/color/image_rect_color" />
        <arg name="camera_info_topic" default="/rgbd_cam/color/camera_info" />

        <node name="tag_stackup" pkg="jetarm_6dof_app" type="tag_stackup.py" output="screen" respawn="true">
                <param name="source_image_topic" value="$(arg source_image_topic)" />
                <param name="camera_info_topic" value="$(arg camera_info_topic)" />
        </node>
</launch>
